.about-section{
    background: url('../images/about-back.png');
  }

  .offer-title{
      position: relative;
  }
.offer-title::after{
    position: absolute;
      content: '';
      padding-bottom: 30px;
      background-image: url('../images/seperator.png');
      background-repeat: no-repeat;
      background-position: center;
      height: 30px;
      width: 155px;
      bottom: -35px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
  }

  